* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
    color: #cbd0f7;
    border: none;
  }
  
  input {
    display: block;
    outline: none;
    width: 100%;
  }
  
  a {
    color: #5568fe;
    text-decoration: none;
    margin-left: 10px;
  }
  
  body {
    background-color: #1b1f27;
    overflow: hidden;
}
  

  #cadastrar-container {
    margin-top: 7%;
    height: 460px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #181920;;
    border-radius: 10px;
    padding: 25px;
  }
  
  #cadastrar-container h1 {
    color: #165397;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
  }
  
  .email, .registrar {
    flex: 1 1 100%;
    position: relative;
  }
  
  .nome, .sobrenome, .senha, .confirmaçãoDeSenha {
    flex: 1 1 45%;
    position: relative;
  }
  
  .spacing {
    margin-right: 5%;
  }
  
  input {
    background-color: #252a24;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    height: 45px;
    
  }

  input::placeholder{
    color: #cbd0f7;
    font-size: 14px;
}
  
  form [type="submit"] {
	height: 45px;
	width: 110px;
    font-size: 14px;
	color: #cbd0f7;
	display: block;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
	place-items: center;
	background-color: #5568fe;
	border-radius: 16px 20px;
	}

	form [type="submit"]:hover{
		background: #000;
		transition: 0.3s;
        color: #165397;
	}
  
  #TermosdeUso {
    margin-right: 5px;
  }
  
  #TermosdeUso, #TermosdeUso-texto {
    display: inline-block;
    width: auto;
    height: auto;
  }
  
