*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
	list-style: none;
}


#cards img{
	background: #e9e9eb;
	width: 55vh;
	height: 60vh;
	transition: 0.35s ease ;
}

#cards img:hover{
	transform: scale(0.9) translateY(5px);
}


#background img{
	position: absolute;
	top: calc(20% - 50px);
	right:13%;
	width: 80vh;
	height: 90vh  ;
}

#background{
	background-color: #e3e3f7;
	height: 103vh;
}

header{
	display: flex;
	justify-content: space-around;
	padding-top: 1rem;
	align-items: center;
	text-align: center;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	position: fixed;
	transition: all  .35s ease;
	background-color: #fff;
	padding: 14px 14%;

}

#logo{
	font-size: 15px;
	color: #165397;
	text-transform: uppercase;
}

#cabeçalho-link{
	display: flex;
	gap: 3rem;

}

#cabeçalho-link a{
	color: #111;
	font-weight: 700;
	transition: 0.3s;

}

#cabeçalho-link a:hover{
	color: #165397;
}

#icon span{
	font-size: 2rem;
	cursor: pointer;
}

#icon span:hover{
	color: #165397;
}

#Meio{
	padding: 7rem 0 0 8.5rem;
	line-height: 4rem;
}

#Meio h1{
	font-size: 4rem;
}
#Meio p{
	font-size: 3vh;
	font-family: 'Times New Roman', Times, serif;
}
#Meio button{
	background-color: gray ;
	padding: 1rem 3rem 1rem 3rem;
	border-radius: 10px ;
	border-style: none;
	font-size: 1rem;
	color: #fff;
	cursor: pointer;
	transition: 0.3s;


}

#Meio button:hover{
	background-color: #111;
	transform: scaleY(1.2);
}

#section{
	padding-top: 3rem;
}

section h1{
	align-items: center;
	text-align: center;
	font-size: 2rem;

}

#contaner-card-1{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
	padding-top: 3rem;
	line-height: 6rem;
}


#cta img{
	position: absolute;
	top: calc(275vh - 50px);
	right:18%;
	width: 80vh;
	height: 90vh;
}
 #cta2 img{
	position: absolute;
	top: calc(275vh - 50px);
	right:-6%;
	width: 80vh;
	height: 90vh;
}

#cta3 img{
	position: absolute;
	top: calc(275vh - 50px);
	right:7%;
	width: 70vh;
	height: 80vh;
}
 
#cta{
	height: 100vh;
	margin-top: 0;
	display: flex;
	width: 100%;
	align-items: center;
	background-color: #e8e8eb;
	
}

#text-cta{
	padding-left: 5rem;

}

#text-cta h6{
	font-size: 19px;
	font-weight: 500;
	margin-bottom: 14px;
}

#text-cta h4{
	font-size: 3.3rem;
	font-weight: 1.2;
	margin-bottom: 30px;
	
}

#text-cta a{
	background-color: #c8815f;
	padding: 1rem 3rem 1rem 3rem;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	font: 1em sans-serif;
	transition: 0.3s;
	
}

#text-cta a:hover{
	background-color: #111;

}

#container-EST-NOVOS{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
	padding-top: 3rem;
	
}

#container-EST-NOVOS img{
	background: #e9e9eb;
	width: 55vh;
	height: 60vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
	border-radius: 6px;
	
}
#container-EST-NOVOS img:hover{
	transform: scale(0.9) translateY(5px);
	cursor: pointer;
	transition: 0.3s;
}

#EST-NOVOS{
	padding-top: 4rem;
}


#Acessorios p {
background-color: #c8815f;


	}
	
	#bac1, #bac2, #bac3{
		background-color: #c8815f;
		text-align: center;
		border-radius: 1rem;
		
	}
 
	#Acessorios span {
		color: #111;
		font-size: 1.2rem ;
	}
	
	#Contato{
		display: flex;
		gap: 5rem;
		background-color: #111;
		padding: 8rem;
		margin-top: 5rem;
		display:grid;
		grid-template-columns: repeat(auto-fit, minmax(200px,auto));
		
	}

	#Meio-contato h3{
		color: #fff;
		font-size: 23px;
		margin-bottom: 1.6rem;
	}

	#Meio-contato h5{
	color: #555;
	font-size: 15px;
	font-weight: 600;

	}

	#Meio-contato a{
		display: block;
		color: #555;
		font-weight: 600;
		transition: 0.35s ease;
	}